html {
  scroll-behavior: smooth;
}
@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --color-gold: #c5a059;
  --color-emerald: #050a08;
}

:root {
  --background: #050a08;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  font-family: ui-serif, Georgia, serif;
}